@charset "utf-8";
/* CSS Document */

*{padding:0; margin:0;}
body{ font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif;}
img{border:none;}
a{text-decoration:none; }
a:hover{text-decoration:none;}
.fr{float:right!important;;}
.fl{float:left!important;;}
.no-mrg{margin:0 !important;}
.no-brd{border:none !important;}
.no-pad{padding:0 !important;}
.clear{clear:both;}
.center{text-align: center;}
.right{text-align: right;}
.bold{font-weight: bold;}
.container{width:1000px; margin:auto;}
/***Home**/


.header {
    height: auto;
    padding: 15px 20px;
}
.logo-head{ 
	float:left;
}
.header a h2 {
    font-size: 36px;
    line-height: 28px;
    text-shadow: 2px -1px 2px #447676;
	color:#005E9E; 
	opacity:0.65;
   
}

.logo{ height:50px; float:left; margin-right:10px;}
.login{
	float:right;
	color:#FFF;
	margin-top:10px;
	width:20px;
	height:20px;
	overflow:hidden;
	transition:width 0.30s;
	-webkit-transition:width 0.30s; /* Safari */
}
.login:hover{
	width:70px;
	color:#fff;
}
.login .icon-user{
	margin-right:5px;
}
.nav-link{
	list-style:none;
	z-index:100;
	top:120px;
	width:1000px;
}
.search-box{
	float:right;
	margin-top:20px;
}
.left-box{
	width:300px;
	float:left;
	margin:0 15px;
}
.content-pg{
	background:#fff;
	color:#000;
	margin: 0 auto;
	padding:20px;
	min-height: 400px;
}
.news-box{
	max-height:400px;
	border:1px solid #5E071B;
	border-radius:4px;
	-wekit-border-radius:4px;
	margin:10px auto;
	color:#00BFFF;
}
.news-box h4{
	color:#fff;
	background:#ED1144;
    border: 1px solid #5E071B;
	margin:0;
	text-align:center;
	padding:10px;
}
.news-body{
	width:290px;
	height:250px;
	overflow:hidden;
	padding:5px;
}
.container {
    box-shadow:0 0 15px #348383;
	-webkit-box-shadow:0 0 15px #348383;
    margin: 0 auto;
    width: 1000px;
    z-index: 100;
	background:#fff;
}

.l-side{
	width:625px;
	float:left;
}
.r-side{
	float:left;
	width:330px;
}
.tv{
	background:url(../images/tv_frame_1.png) no-repeat;
	width:320px;
	height:197px;
}
.flash{
	width:280px;
	height:158px;
	margin:20px auto 0;
	text-align:center;
	font-size:16px;
}
.flash-news{
	color: #fff;
    font-size: 14px;
	/*border:1px solid #eee;*/
	height:2px;
	border-left:none;
	border-right:none;
	/*padding:5px;*/
	margin-bottom:15px;
	margin-right:5px;
	margin-left:5px;
	margin-top:15px;
	/*background:#00BFFF;*/
	opacity:0.65;
   /* background: none repeat scroll 0 0 #005E9E; */
	background:#313131;

   /* border-bottom: 3px solid #005693; */
    box-shadow: 0 1px rgba(255, 255, 255, 0.4) inset, 0 2px rgba(0, 0, 0, 0.05);
}
.footer{
    width:100%;
    height:auto;
    background:#313131;
    padding:10px 0;
    z-index:100;
    /*opacity:0.65;
    -webkit-opacity:0.65;*/
}
.footer-links{
	float:left;
	color: #989898;
    float: left;
    width: 75px;
}
.twt, .fb, .gp{
	width:80px;
	height:90px;
	background:url(../images/sprite-scl.png) no-repeat;
}
.nav a{
	color:#000;
}
.m5{
	margin-right:5px;
}
.content-pg .nav-tabs > li > a {
	background:#E5E5E5;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
    width: 140px;
}
.content-pg .nav-tabs > li > a:hover{
	background: #ebf1f6;
	color:#000;
}
.content-pg .nav-tabs > .active > a{
    background:#FFFFFF;
	}
.pcr{
	width:200px;
	height:auto;
	float:left;
	margin:0 10px 10px 0;
	border:1px solid #3CF;
}
.pcr-lrg{
	width:400px;
	height:auto;
	float:right;
	margin:0 0 10px 10px;
	border:2px solid #063544;
}
.note{
	color:#16A7BA;
	font-size:16px;
	font-family:Verdana, Arial, Helvetica, sans-serif
}

/********** Admin***********/

.tab-bar{
	border:none;
	margin:0 20px 0 0;
	min-height:700px;
	width:200px;
	padding:20px 0 0 50px;
	list-style:none;
	float:left;
    background-color: #000000;
	/*background: #45484d; *//* Old browsers *//*
	background: -moz-linear-gradient(left,  #45484d 0%, #000000 100%); *//* FF3.6+ *//*
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#45484d), color-stop(100%,#000000)); *//* Chrome,Safari4+ *//*
	background: -webkit-linear-gradient(left,  #45484d 0%,#000000 100%); *//* Chrome10+,Safari5.1+ *//*
	background: -o-linear-gradient(left,  #45484d 0%,#000000 100%); *//* Opera 11.10+ *//*
	background: -ms-linear-gradient(left,  #45484d 0%,#000000 100%); *//* IE10+ *//*
	background: linear-gradient(to right,  #45484d 0%,#000000 100%); *//* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
 
}
.active-tab{
	border:none;
	cursor:pointer;
	border-radius:2px 0 0 2px;
	-webkit-border-radius:2px 0 0 2px;
	background:none;
	color:#0FF;
	text-align:right;
}
.tab-bar > li > a{
	text-align:right;
	color:#fff;
	transition: padding 0.4s;
	-webkit-transition: padding 0.4s;
	margin:10px 0;
	padding:10px 15px 10px 0;
	display:block;
	background: #02b4d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #02b4d3 2%, #5bc4ea 50%, #02b4d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#02b4d3), color-stop(50%,#5bc4ea), color-stop(100%,#02b4d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #02b4d3 2%,#5bc4ea 50%,#02b4d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #02b4d3 2%,#5bc4ea 50%,#02b4d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #02b4d3 2%,#5bc4ea 50%,#02b4d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #02b4d3 2%,#5bc4ea 50%,#02b4d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b4d3', endColorstr='#02b4d3',GradientType=0 ); /* IE6-9 */


}
.tab-bar > li > a:hover{
	background: #71ceef; /* Old browsers */
	background: -moz-linear-gradient(top,  #71ceef 0%, #b7deed 50%, #71ceef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71ceef), color-stop(50%,#b7deed), color-stop(100%,#71ceef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #71ceef 0%,#b7deed 50%,#71ceef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #71ceef 0%,#b7deed 50%,#71ceef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #71ceef 0%,#b7deed 50%,#71ceef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #71ceef 0%,#b7deed 50%,#71ceef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ceef', endColorstr='#71ceef',GradientType=0 ); /* IE6-9 */


    padding-right: 30px;
}
.admin-tab .panel{
	border:1px solid #CCC;
	padding:20px;
	background:#FFF;
}
.admin-tab .radio {
	margin:0 5px 5px;
}
/********Dashbord*********/
.content-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 0 0 20px;
}
.content-box-header {
    height: 40px;
    margin-top: 1px;
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

}

.content-box-content {
    border-top: 1px solid #CCCCCC;
    font-size: 13px;
    padding: 20px;
	max-width:1000px;
	overflow-x:auto;
}

.tab-content table td{
	padding:10px;
}
.sub-nav , .sub-t{
	margin:5px 0;
	list-style:none;
	text-align:right;
	display:none;
}
.sub-list {
	text-align:right;
    color:#AAAAAA;
	transition: padding 0.4s;
	-webkit-transition: width 0.4s;
	display:inline-block;
	width:160px;
	padding:2px 15px 2px 20px;
}

.current {
    color:#ffffff;
    background: url("../img/layout/menu-current-arrow.gif") no-repeat scroll right center transparent !important;
}
.current .sub-list:hover{
	 padding-right:30px;
	 display:inline-block;
	 color: #ffffff;
}
.main-area{
	width:1000px;
	float:left;
}
.tab-content .nav-tabs{
	margin:0;
	border:none;
}
.c-head{
	text-align:center;
	margin:0;
}
.admin-tab .nav-tabs > li, .nav-pills > li {
	float:right;
}

/******** SCHOOL HEADING STYLE ***********/


.content-school-logo{
      width:60px;
      height:100%;
}

.content-login {
    float: right;
    margin: 15px 15px 0;
}
/*******Gallery********/

div.img
  {
  margin:2px;
  border:1px solid #999999;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  margin:2px;
  }



.folder{
	width:150px;
	border-radius:3px;
	-webkit-border-radius:3px;
   
	background:none repeat scroll 0 0 #0099FF;
	position:relative;
	margin:10px 5px;
	padding:10px;
	box-shadow: 2px 3px 3px #959595;
	/*-webkit-box-shadow: 2px 3px 3px #959595;*/
	float:left;
}
.folder-link{
	width:151px;
	height:116px;
	overflow:hidden;
	display:block;
	transition:height 0.4s linear 0.4s;
	-webkit-transition:height 0.4s linear 0.4s;
}
.folder-link:hover{
	height:160px;
}
.folder-link .thump{
	border:3px solid#fff;
	width:145px;
	height:85px;
	overflow:hidden;
}
.folder-link .thump img{
	width:145px;
	height:auto;
}
.folder-mp {
    background:none repeat scroll 0 0 #005E9E;
    border-radius: 3px 18px 0 0;
	-webkit-border-radius: 3px 18px 0 0;
    height: 13px;
    position: absolute;
    top: -11px;
    width: 45px;
	left:0;
}

.folder .folder-link h3 {
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 30px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}
.folder .folder-link p{
	color:#CFF;
	margin:0;
}
.people {
    border: 1px solid #CCCCCC;
    margin: 5px;
    padding: 10px;
    width: 210px;
	float:left;
	cursor:pointer;
	transition:box-shadow 0.4s;
	-webkit-box-transition:box-shadow 0.4s;
}
.people:hover{
    box-shadow: 1px -1px 14px #CCCCCC;
    -webkit-box-shadow: 1px -1px 14px #CCCCCC;
}
.pepl-thamp {
    border: 1px solid #CCCCCC;
    margin: 3px auto;
    width: 175px;
	overflow:hidden;
	height:200px;
}
.pepl-thamp img{
	width:100%;
	height:auto;
}
.people h3{
	color:#4D4E5B;
	font-size:18px;
	margin:0;
}
.infobox  td{
	padding:2px;
	color:#55A4F3;
}
.infobox  th{
	color:#898989;
	font-size:13px;
	padding-right:8px;
}
.hm-content {
    border-bottom: 4px solid #797979;
    color: #565E60;
    margin-bottom: 15px;
    padding: 10px 0;
}
.event_news{
	margin:50px 0 15px;
	color: #565E60;
}
.address{
	width:auto;
	margin:15px;
	float:left;
}
.address th{
	font-weight:bold;
	text-align:left;
	color:#999999;
	width:400px;
}
.address td{
	padding:5px;
	width:180px;
	}
.g-map{
	width:auto;
	float:left;
	border:0.5px solid;
	color:#000000;
}
.call-form{
	margin:50px 0;
}
.mang-thump{
  width:200px;
  float:left;
  text-align :center;
}
.mang-thump h4 {
	margin:0;
	color:#036484;
}
.mang-thump h4 span{
	font-size:15px;
	font-weight:normal;
	color:#919191;
}
.mang-thump img{
	border:2px solid #063544;
	width:150px;
	height:auto;
}
.mang-dvr{
	margin:10px 5px;
	border-bottom:dashed 1px #ccc;
	padding:10px;
}


/********** Image Slider Style ********/
 *{outline: none;}
img {border: 0;}
.container_slider {
	width: 960px;
	height: 380px;
	padding: 0;
	margin: 0 auto;
}
.folio_block {
	position: absolute;
}

/*--Main Container--*/
.main_view {
	float: none;
	position: relative;
}
/*--Window/Masking Styles--*/
.window {
	height:380px;	width: 960px;
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
}
.image_reel {
	position: absolute;
	top: 0; left: 0;
}
.image_reel img {float: left;}

/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: 40px; right: -7px;
	width: 178px; height:47px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 40px;
	background: url(..\public\img\layout\paging_bg2.png) no-repeat;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}
.paging a {
	padding: 5px;
	text-decoration: none;
	color: #fff;
}
.paging a.active {
	font-weight: bold;
	background: #920000;
	border: 1px solid #610000;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.paging a:hover {font-weight: bold;}
               
				
/*********** end of image slider style *********/	

/* ******************* latest news style *********/

.ticker {
    width: 270px;
	height: 200px;
	overflow: hidden;
	text-align: left;
}

.ticker h3 {
	padding: 0 0 10px 10px;

}

.ticker ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: italic;
}

.ticker ul li {
    list-style: none;
    height:60px;
    padding:7px;
	margin-bottom:2px;
    border-bottom: 1px solid #D6CFB8;
}			

.admin-header {
	 box-shadow: 1px 0 4px;
	 -webkit- box-shadow: 1px 0 4px;
	 	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}


/******** button style *********/
    
    
    
    
    .myButton {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
        
        background-color:#ffffff;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #dcdcdc;
        
        display:inline-block;
        color:#666666;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 13px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #ffffff;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        
        background-color:#f6f6f6;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
